If the numbers 1 to 5 are written out in words: one, two, three, four, five, then there are 3 + 3 + 5 + 4 + 4 = 19 letters used in total.

If all the numbers from 1 to 1000 (one thousand) inclusive were written out in words, how many letters would be used?


NOTE: Do not count spaces or hyphens. For example, 342 (three hundred and forty-two) contains 23 letters and 115 (one hundred and fifteen) contains 20 letters. The use of "and" when writing out numbers is in compliance with British usage.

In [1]:
from n2w import convert # External dependency

## Description
This problem is basically creating one big calculation for all numbers, including ones, teens, tens, hundreds and all.  
Not a fun solution at all...  
Instead I cheat by using a package that does this for me (what am I really learning here?)

In [2]:
def string_me(n):
    result = convert(n)
    result = result.replace(' ', '')
    if n > 100 and n % 100 != 0:
        result += 'and'
    
    return len(result)

In [3]:
tot_num = 0
for i in range(1, 1001):
    tot_num += string_me(i)
print(tot_num)

21124

# Mathematical solution
We could count the numbers in all parts and adding them together..  
Without using a bad map, still not satisfied with using this technique to solve a math problem...

### 1-9

In [4]:
s_1_9 = 'one two three four five six seven eight nine'
s_1_9 = len(s_1_9.replace(' ', ''))
print(s_1_9)

36

### 10-19

In [5]:
s_10_19 = 'ten eleven twelve thirteen fourteen fifteen sixteen seventeen eighteen nineteen'
s_10_19 = len(s_10_19.replace(' ', ''))
print(s_10_19)

70

### 20-99

In [6]:
s_20_90 = 'twenty thirty forty fifty sixty seventy eighty ninety'
s_20_90 = len(s_20_90.replace(' ', ''))

# We will use each of these 10 times (0-9)
# Of each 8 we will use 1-9 calculated before (s_1_9)
s_20_99 = 10 * s_20_90 + 8 * s_1_9

print(s_20_99)

748

# 1-99

In [7]:
s_1_99 = s_1_9 + s_10_19 + s_20_99
print(s_1_99)

854

### 100-999

In [8]:
# 'hundred' is used 9 times (with 00 at the end)
hundred = len('hundred') * 9

# 'hundred and' is used = 891 times (100 -> 999 is 900 numbers, minus alreadry counted 9)
hundred_and = len('hundredand') * 891

# 1-99 repeated 9 times (100, 200, ..., 900)
one_to_99 = 9 * s_1_99

# One to 9 is repeated 100 times. Each time before each part in one hundred, two hundred...
one_to_9 = 100 * s_1_9

s_100_999 = one_to_9 + one_to_99 + hundred + hundred_and

### 1000

In [9]:
one_thousand = len('onethousand')
print(one_thousand)

11

## Total

In [10]:
total = s_1_99 + s_100_999 + one_thousand
print(total)

21124